p, ul, pre {
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5 {
  color: #B3E2E3 !important;
}

body > .container {
  max-width: 800px;
}

.page-header {
  border-bottom: solid 3px #E3EAF8 !important;
}

code {
  color: #6178AC !important;
}

p img {
  max-width: 750px;
}