.snowflake {
    width: 250px;
    height: 250px;
    display: inline-block;
}

svg {
  width: 250px;
  height: 250px;
}

@-webkit-keyframes spin {
   from { -webkit-transform: rotate(0deg); }
   to   { -webkit-transform: rotate(360deg); }
}

svg {
   -webkit-animation-name: spin;
   -webkit-animation-duration: 12s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear; /* ease is the default */
}

body, html {
  height: 100%;
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
  background-color: #8BD2DF;
}

.regenerate {
  font-family: 'Vast Shadow';
  position: absolute;
  font-size: 50px;
  font-color: red;
  text-transform: uppercase;
  z-index: 50;
  color: red;
  width: 1250px;
  margin-top: 250px;
  text-align: center;
  cursor: pointer;
}